@import "styles/variables.scss";
@import "styles/mixins.scss";
@import "styles/animations.scss";

.header {
  display: flex;
  flex-direction: column;
  background-color: $header-background;
  display: flex;
  flex-direction: column;
  min-width: 4rem;
  padding: $spacing 0;
  color: white;
  text-align: center;
  font-size: 2em;
}